[submodule "src/browser/vue-beautiful-chat"]
	path = src/browser/vue-beautiful-chat
	url = https://github.com/mattmezza/vue-beautiful-chat.git
[submodule "src/browser/vuejs-avataaars"]
	path = src/browser/vuejs-avataaars
	url = https://github.com/orgordin/vuejs-avataaars.git
