$primaryButtonColor: #9164ff;
$jellyPartyOrange: #ff9494;
$jellyPartyPurple: $primaryButtonColor;
:root {
  --jelly-party-sidebar-width: 350px;
  --jelly-party-header-height: 51px;
  --jelly-party-controls-height: 104px;
  --jelly-party-purple: #9164ff;
  --jelly-party-orange: #ff9494;
}
