$primaryButtonColor: #9164ff;
$jellyPartyOrange: #ff9494;
$jellyPartyPurple: $primaryButtonColor;
:root {
  --jelly-party-sidebar-width: 350px;
  --party-tab-header: 184px;
  --jelly-party-purple: #9164ff;
  --jelly-party-orange: #ff9494;
}
