// These styles get applied at the iFrame scope
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

:root {
  --jelly-party-sidebar-width: 350px;
}

#wrapper {
  background: linear-gradient(
    to right bottom,
    rgb(255, 148, 148) 0%,
    rgb(238, 100, 246) 100%
  ) !important;
  height: 100vh;
}

body {
  color: white;
}

#jelly-party-heading-text {
  text-align: center;
  padding-top: 10px;
  color: white;
  display: "inline-block";
}

$primaryButtonColor: #9164ff;

.jelly-party-primary-button {
  width: 100%;
  height: 40px;
  outline: none !important;
  border-radius: 50rem !important;
  border-width: 0px !important;
  color: white;
  background-color: $primaryButtonColor;
  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: darken($primaryButtonColor, 10%);
  }
}

$jellyPartyOrange: #ff9494;

.previous-party-wrapper {
  border-radius: 3em;
  background-color: $jellyPartyOrange;
  padding: 1.5em;
  margin: 1em;
  color: white;
}

.jelly-party-party-timestamp {
  font-size: 12px;
}
