body {
  transition: all 0.2s ease;
  width: 100%;
}

#jellyPartyWrapper {
  z-index: 100000;
  transition: all 0.2s ease;
}

#jellyPartyFab {
  cursor: pointer;
  z-index: 100001;
  transition: opacity 0.5s;
  svg {
    :hover {
      filter: brightness(1.01);
      transition: filter 0.5s;
    }
  }
}
#jellyPartyFab svg {
  transition: all 0.5s;
}
#jellyPartyFab svg:hover {
  filter: brightness(1.2);
  transition: all 0.5s;
}

#jellyPartyRoot {
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--jelly-party-sidebar-width);
  transition: all 0.2s ease;
  box-shadow: -5px 0px 50px 1px rgba(0, 0, 0, 0.75);
  font-size: 16px;
}
.sideBarMinimized {
  right: calc(-1 * var(--jelly-party-sidebar-width)) !important;
}
